:root {
  --color-bg: #0d0d0d;
  --color-surface: #1a1a1a;
  --bg-surface-transparent: rgba(26, 26, 26, 0.4);
  --color-primary: #ff007f;
  --color-accent: #7000ff;
  --color-text: #ffffff;
  --border-radius: 10px;
}

/* TODO: Separate to different files */

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* No connection overlay */
.no__connection__overlay {
  position: absolute;
  display: flex;
  inset: 0;
  z-index: 9999;
  box-sizing: content-box;
  border-radius: var(--border-radius);
  padding: 10px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.overlay__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.overlay__text {
  color: var(--color-primary);
  font-size: 26px;
  font-weight: 600;
}

.overlay__subtext {
  font-size: 18px;
}

/* Menu overlays */
.menu__container {
  display: flex;
  position: absolute;
  inset: 0;
  z-index: 9998;
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--bg-surface-transparent);
  backdrop-filter: blur(3px);
}

.menu {
  display: flex;
  width: 100%;
  max-width: 40rem;
  height: 100%;
  max-height: 30rem;
  flex-direction: column;
  position: relative;
  background-color: var(--color-bg);
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: -1px 8px 16px -1px rgba(26, 26, 26, 0.74);
  -webkit-box-shadow: -1px 8px 16px -1px rgba(26, 26, 26, 0.74);
  -moz-box-shadow: -1px 8px 16px -1px rgba(26, 26, 26, 0.74);
  font-size: 1.5rem;
}

.close__menu__container {
  display: flex;
  width: 100%;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.close__menu__button {
  display: flex;
  margin-left: auto;
}

/* Add Track menu */
.add__track__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.addTrack__menu__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  gap: 10px;
}

.addTrack__trackInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

/* Container */

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  gap: 10px;
  height: 100%;
  flex-grow: 1;
}

/* Server status */

.status {
  flex-grow: 0;
  width: 100%;
  justify-self: start !important;
  height: 3rem;
  background: var(--color-surface);
  border-radius: var(--border-radius);
}

.status__content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.success {
  color: mediumspringgreen;
}

.fail {
  color: var(--color-primary);
}

/* Tracks */

.tracks__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.tracks__title {
  font-size: 24px;
  text-align: center;
}

.no__tracks {
  display: flex;
  inset: 0;
  margin-top: auto;
  font-size: 26px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.track__container {
  display: flex;
  width: 100%;
  inset: 0;
  padding: 0.8rem;
  border: solid 1px var(--color-accent);
}

.track__info {
  display: flex;
  width: 100%;
  align-items: center;
  columns: 3;
  column-gap: 0.5rem;
  column-rule: 2px var(--color-accent) solid;
}

.track__name {
  flex-grow: 1;
  max-width: 50%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
}

.track__duration {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 15%;
  text-align: center;
}

.actions {
  display: flex;
  flex-grow: 0;

  margin-left: auto;
  justify-content: end;
  flex-shrink: 0;
}

.track__actions {
  display: flex;
  justify-content: flex-end;
}

/* Button */
button {
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-text);
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 3px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-surface);
}

/* Input */
input {
  color: var(--color-text);
  background-color: var(--color-surface);
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 1rem;
  font-size: 1.5rem;
}
